<h1>Register</h1>
<div class="register-container">
  <div class="name-container">
    <label for="name">Name</label>
    <input type="name" placeholder="Usarname" />
  </div>
  <div class="lastname-container">
    <label for="lastname">Last name</label>
    <input type="lastname" placeholder="Last name"  />
  </div>
  <div class="email-container">
    <label for="email">Email</label>
    <input type="email" placeholder="Email" />
  </div>
  <div class="password-container">
    <label for="password">Password</label>
    <input type="password" placeholder="Password"  />
  </div>
  <div class="button-container">
    <button type="submit">Register</button>
  </div>
</div>